.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: lightgray;
  border: none;
  font-weight: bold;
}

.tab-buttons .active {
  background: dodgerblue;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  text-align: left;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.login-form button {
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: dodgerblue;
  text-decoration: none;
}
.home-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 50%; /* round */
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-btn:hover {
  background-color: aqua;
  color: black;
  transform: scale(1.1);
}